@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #831843;
  --color-primary-foreground: #ffffff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

.animate-fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

.delay-500 {
  animation-delay: 0.5s;
}

@keyframes float1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.animate-float1 {
  animation: float1 4s ease-in-out infinite;
}

.animate-float2 {
  animation: float2 5s ease-in-out infinite;
}
